.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: dimgray;
}

h1 {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}

.list > div {
  padding: 12px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img {
  width: 300px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
