.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: dimgray;
}

h1 {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.thumbnails {
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
