.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: dimgray;
}

h1 {
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
