/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: serif;
}

::after, ::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

.alert {
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1em;
}
