<h1>{{ game?.title }}</h1>

<p class="description">{{ game?.description }}</p>

<div class="informations">
  <div class="infos-begin">
    <p>Genre : {{ game?.genre }}</p>
    <p>Plateforme : {{ game?.platform }}</p>
    <p>Développeur : {{ game?.developer }}</p>
  <!--    ex : voir avec https://www.freetogame.com/api/game?id=452-->
    <p>Date de sortie : {{ game?.releaseDate }}</p>
  </div>

  <div class="requirements">
    <h2>Minimum System Requirements</h2>
    <!--    ex : voir avec https://www.freetogame.com/api/game?id=452-->
    <p>OS : {{ game?.MinSystemReq }}</p>
    <p>Processeur : {{ game?.MinSystemReq }}</p>
    <p>Mémoire : {{ game?.MinSystemReq }}</p>
    <p>Cartes vidéos : {{ game?.MinSystemReq }}</p>
    <p>Stockage : {{ game?.MinSystemReq }}</p>
  </div>
</div>

<div class="screenshots">
  <h3>Screenshots</h3>

  <div class="images">

    <!--    ex : voir avec https://www.freetogame.com/api/game?id=452-->
    <div *ngFor="let screenshot of game?.screenshots; let i = index">
      <div class="screenshot">
        <img src="{{ screenshot[i].image }}" alt="">
      </div>
    </div>

  </div>
</div>
