.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  margin: 20px auto 12px;
  font-size: 2rem;
}

.description {
  margin-bottom: 20px;
  padding: 0 20px;
  width: 100%;
}

.informations {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  color: white;
}

.infos-begin {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: gray;
  border-radius: 10px;
  width: 36%;
}

.infos-begin p {
  margin: 8px 0 0 0;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.requirements {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  background-color: gray;
  border-radius: 8px;
  width: 46%;
}

.noInfosMinSysReq {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 4px;
  color: white;
}

h2 {
  margin: 0 auto 8px;
  font-size: 1rem;
}

.requirements p, li {
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.screenshots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h3 {
  margin: 18px auto 12px;
}

.images {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot {
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 240px;
}
