<h1>{{ game?.title }}</h1>

<p class="description" textColor>{{ game?.description }}</p>

<div class="informations">
  <div class="infos-begin">
    <p>Genre : {{ game?.genre }}</p>
    <p>Plateforme : {{ game?.platform }}</p>
    <p>Développeur : {{ game?.developer }}</p>
    <p>Date de sortie : {{ game?.releaseDate | date:'dd MMM yyyy' }}</p>
  </div>œ

  <div class="requirements">

    <h2>Minimum System Requirements</h2>

    <div class="noInfosMinSysReq" *ngIf="game?.MinSystemReq?.os === null &&
      game?.MinSystemReq?.processor === null &&
      game?.MinSystemReq?.memory === null &&
      game?.MinSystemReq?.graphics === null &&
      game?.MinSystemReq?.storage === null;else contenu_ok">
      <p>Nous ne disposons pas de ces informations.</p>
    </div>
    <ng-template #contenu_ok>
      <p>OS : {{ game?.MinSystemReq?.os }}</p>
      <p>Processeur : {{ game?.MinSystemReq?.processor }}</p>
      <p>Mémoire : {{ game?.MinSystemReq?.memory }}</p>
      <p>Cartes vidéos : {{ game?.MinSystemReq?.graphics }}</p>
      <p>Stockage : {{ game?.MinSystemReq?.storage }}</p>
    </ng-template>
  </div>
</div>

<div class="screenshots">
  <h3>Screenshots</h3>

  <div class="images">

    <div *ngFor="let screenshot of game?.screenshots">
      <div class="screenshot">
        <img src="{{ screenshot?.image }}" alt="">
      </div>
    </div>

  </div>
</div>
